.header {
    grid-area: h;
    background-color: rgb(98, 180, 139);
}

.logo{
    width: 100px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    
}

.loginBlock{
    float: right;
    color: rgb(23, 81, 83);
    font-size: 25px;
}