.nav {
    grid-area: n;
    background-color: #e2aae7be;
}

.item a {
    color: rgb(23, 81, 83);
    font-weight: 600;
}


.item a:hover {
    font-weight: 500;
    color: rgb(63, 60, 60);
}

.item a.active {
    color: rgb(206, 183, 56);
    letter-spacing: 1px
}