.contentIMG {
  width: 500px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.descriptionBlok {
  padding: 10px;
}

.profileIMG {
  object-fit: cover;
  width: 200px;
}

.isFindJobIMG {
  width: 70px;
  height: 50px;
  object-fit: cover;
}
